body {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}

html {
  text-align: center;
}

table {
  text-align: center;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  text-align: left;
  padding: 5px;
}

h1 {
  background: #586c5c;
  margin: 0px;
  padding: 20px;
}

.input-field {
  margin: 20px auto;
  padding: 30px;
  background-color: rgba(148, 189, 162, 0.368);
  border: 3px rgb(129, 189, 132) solid;
  border-radius: 5px;
  width: 50%;
  height: 150px;
  display: inline-block;
}

.text-input {
  width: 250px;
}

.complete {
  background-color: lightgray;
  text-decoration: line-through;
}

.row + .row {
 border-top: 2px solid rgba(10, 27, 102, 0.34);
}

